name: run-eslint-plugin-vue
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  run-eslint-plugin-vue:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install
      - run: npx eslint "resources/**/*.{js,vue}"